#table, #custom_el {
    background: rgb(225,226,231);
    background: linear-gradient(0deg, rgba(225,226,231,1) 0%, rgba(233,236,242,1) 100%);
    border-radius: 10px;
    box-shadow: 0 1px 2px gray;
}

#personal-header {
    border-radius: 10px;
    font-size: 14px;
}

#training-form {
    margin-bottom: 3ex
}

#user_value {
    width: 100ex;
}

#p-email, #fio {
    border-radius: 10px;
    padding-left: 1ex;
    padding-right: 1ex;
}

#modal_user {
    max-width: 100ex;
    width: fit-content;
}